.details::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 112px;
    opacity: 0.8;
    background-image: url('https://media.istockphoto.com/id/460326131/photo/central-post-office-la-poste-douala-cameroon.webp?s=1024x1024&w=is&k=20&c=fE2EveeywmQGj13ZLr4RsZEhJ8Grl6q8AdUfELw76H8=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}